// Profile details
params {
    config_profile_description = 'The Wellcome Sanger Institute HPC cluster (farm5) profile'
    config_profile_description = 'Icahn School of Medicine at Mount Sinai HPC (minerva) profile''
    config_profile_contact = 'Chris Tastad (christopher.tastad@mssm.edu)'
    config_profile_url = 'https://labs.icahn.mssm.edu/minervalab/'
}

// Queue and retry strategy
process{
    executor = 'lsf'
    queue = { task.time <= 12.h ? 'express' : task.time <= 144.h ? 'premium' : 'long' }
    errorStrategy = 'retry'
    maxRetries = 2
}

// Executor details
executor{
    name = 'lsf'
    queueSize = 50
    submitRateLimit = '10 sec'
    beforeScript = 'ml java'
    beforeScript = 'ml anaconda3'
    beforeScript = 'ml singularity'
}

// Max resources
params {
    max_memory = 1.5.TB
    max_cpus = 64
    max_time = 336.h
}

